<!DOCTYPE html>
<html ng-app="quiz5App">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type='text/css' href="../stylesheets/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!-- load angular -->
    <script src="../javascripts/qui5Controller.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>

</head>

<body ng-controller="quiz5Controller">
    <table>
        <tr>
            <h3>1001746582</h3>
        </tr>
        <tr>
            <h2>Giri, Sagar</h2>
        </tr>
        <tr>
            <h3>Quiz 5</h3>
        </tr>

        <!-- <img src="../images/s.jpg" style="width:100px;height:100px;"> -->
    </table>
    <div class="container">
        <table>
            <tr>
               
                <td><label for="q1">Search</label></td>
                <td><input type="text" name="ip1" id="ip1" placeholder="input 1" ng-model="input1"></input></td>
                <td><input type="text" name="ip2" id="ip2" placeholder="input 2" ng-model="input2"></input></td>
                <td><input type="text" name="ip1" id="ip3" placeholder="input 3" ng-model="input3"></input></td>
               
                <td><button type="button" id="button1" ng-click="getSoln1(input1,input2,input3)">Q1</button></td>

            </tr>
            <tr>
               
                <td><label for="q1">Search</label></td>
                <td><input type="text" name="ip1" id="ip4" placeholder="input 4" ng-model="input4"></input></td>
                <td><input type="text" name="ip2" id="ip5" placeholder="input 5" ng-model="input5"></input></td>
                <td><input type="text" name="ip1" id="ip6" placeholder="input 6" ng-model="input6"></input></td>
               
                <td><button type="button" id="button2" ng-click="getSoln2(input4,input5,input6)">Q2</button></td>

            </tr>
            <tr>
               
                <td><label for="q2">Insert</label></td>
                <td><input type="text" name="ip1" id="ip7" placeholder="input 7" ng-model="input7"></input></td>
                <td><input type="text" name="ip2" id="ip8" placeholder="input 8" ng-model="input8"></input></td>
                <td><input type="text" name="ip1" id="ip9" placeholder="input 9" ng-model="input9"></input></td>
               
                <td><button type="button" id="button3" ng-click="getSoln3(input7,input8,input9)">Q3</button></td>

            </tr>
            </table>

            <table ng-show="showGrid">
                <tr>
                    <td>Latitude</td>
                    <td>Longitude</td>
                    <td>mag</td>
                    <td>place</td>
                    <td>depth</td>
                    <td>time</td>
                </tr>
        
                <tr ng-repeat="x in displayData">
                    <td>{{x.latitude}}</td>
                    <td>{{x.longitude}}</td>
                    <td>{{x.mag}}</td>
                    <td>{{x.place}}</td>
                    <td>{{x.depth}}</td>
                    <td>{{x.time}}</td>
                    <!-- <td>
                        <div ng-init="myVar = '../images/' + x.Picture">
                            <img ng-src="{{myVar}}">
                        </div> 
                    </td>-->
                </tr>
            </table>

    </body>
</html>